{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Oriented CSS Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="{% static 'css/templatemo-business-oriented.css' %}" rel="stylesheet" />
</head>
<!--

TemplateMo 549 Business Oriented

https://templatemo.com/tm-549-business-oriented

-->
<body>
    <div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/biz-oriented-header.jpg'%}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tm-logo">
                        <i class="fas fa-industry fa-5x mr-5"></i>
                        <span class="text-uppercase tm-logo-text">Business Oriented</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="services.html">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-7">
        <div class="row mb-6">
            <section class="col-lg-6 mb-lg-0 mb-5">
                <div class="tm-intro">
                    <h3 class="tm-title-gray mb-4">What is a Business Oriented Website?</h3>
                    <hr class="mb-5 tm-hr">
                    <p class="mb-5">Header is a parallax background just like in <a href="https://templatemo.com/tm-547-real-dynamic" target="_blank">Real Dynamic design</a> on TemplateMo. Business Oriented HTML Template is specifically designed for your corporate website.</p>
                    <p class="mb-5">You can download and use this template for your commercial purpose. Please do not re-distribute the template ZIP file on any template collection website.</p>
                    <img src="{% static 'img/biz-oriented-1.jpg' %}" alt="Company Background Image" class="img-fluid tm-mb-3">
                </div>
            </section>
            <section class="col-lg-6">
                <h3 class="tm-title-gray mb-4">New Focused Strategies</h3>
                <hr class="mb-5 tm-hr">
                <div class="tm-strategy-box mb-5">
                    <img src="{% static 'img/strategy-1.jpg' %}" alt="Image" class="img-fluid tm-strategy-img">
                    <div>
                        <h4 class="tm-text-primary">{{dest1.name}}</h4>
                        <p class="tm-strategy-text">{{dest1.desc}}</p>
                    </div>
                </div>
                <div class="tm-strategy-box mb-5">
                    <img src="{% static 'img/strategy-2.jpg' %}" alt="Image" class="img-fluid tm-strategy-img">
                    <div>
                        <h4 class="tm-text-primary">Etiam consequat placerat convallis</h4>
                        <p class="tm-strategy-text">Fusce non diam vel diam egestas accumsan quis aliquam metus. Nulla porta ullamcorper mauris maximus feugiat. Donec ac tincidunt dui.</p>
                    </div>
                </div>
                <div class="tm-strategy-box mb-5">
                    <img src="{% static 'img/strategy-3.jpg'%}" alt="Image" class="img-fluid tm-strategy-img">
                    <div>
                        <h4 class="tm-text-primary">Aenean varius velit eu ligula</h4>
                        <p class="tm-strategy-text">Suspendisse gravida, ipsum a gravida euismod, metus enim hendrerit ante, vel hendrerit sapien sem non nisl. Maecenas tempus risus ipsum.</p>
                    </div>
                </div>
            </section>
        </div>
        <!-- Services -->
        <div class="row mb-7">
            <div class="col-lg-4 col-md-6">
                <div class="tm-bg-gray tm-box">
                    <div class="text-center mb-3">
                        <i class="fas fa-cloud-sun fa-5x p-5"></i>
                    </div>
                    <h4 class="tm-text-primary tm-h3 mb-5">Suspendisse at nunc leo</h4>
                    <p>Phasellus malesuada aliquam arcu, et ultricies metus scelerisque id. Curabitur finibus ornare blandit. Donec a luctus nulla. Vivamus ac felis sapien.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tm-bg-gray tm-box">
                    <div class="text-center mb-3">
                        <i class="fas fa-spa fa-5x p-5"></i>
                    </div>
                    <h4 class="tm-text-primary tm-h3 mb-5">Etiam viverra elit vel efficitur</h4>
                    <p>Nunc ultrices imperdiet orci, a ultrices orci luctus vel. Etiam consequat placerat convallis. Donec consequat consectetur est, eget pretium nisl.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="{% static 'img/biz-oriented-2.jpg'%}" alt="Image" class="img-fluid">
                <div class="tm-box tm-box-s">
                    <p class="tm-mb-5">Suspendisse gravida, ipsum a gravida euismod, metus enim hendrerit ante, vel hendrerit sapien sem non nisl. Maecenas tempus risus ipsum.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="parallax-2" class="parallax-window parallax-window-2" data-parallax="scroll"
        data-image-src="{% static 'img/biz-oriented-footer.jpg'%}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tm-overlay tm-bg-white">
                        <h4 class="tm-text-primary mb-5">Parallax Background Section</h4>
                        <p class="mb-5">Suspendisse gravida, ipsum a gravida euismod, metus enim hendrerit ante, vel hendrerit sapien sem non nisl. Maecenas tempus risus ipsum.</p>
                        <a href="contact.html" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="row">
            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                Copyright &copy; 2020 <span class="tm-text-primary">Business Oriented</span>
                - designed by <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-link-primary">TemplateMo</a>
            </p>
            <div class="col-lg-3 col-md-4 text-right">
                <a rel="nofollow" target="_blank" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook fa-2x tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter fa-2x tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/parallax.min.js'%}"></script> <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="{% static 'js/tooplate-script.js'%}"></script>
    <script>
        $(document).ready(function () {
            $('#parallax-1').parallax({ imageSrc: 'img/biz-oriented-header.jpg' });
            $('#parallax-2').parallax({ imageSrc: 'img/biz-oriented-footer.jpg' });
        });
    </script>
</body>

</html>